<div class="c-mobilemenu  js-mobilemenu">
  <div class="c-mobilemenu__actions">
    <button class="c-mobilemenu__close  js-menutrigger">Close</button>
  </div>
  <div class="c-mobilemenu__body">

    <nav class="navigation menu">
      
      {# 
        get all the entries from the mainnav structure
        - Craft returns an array of objects
        - keys are fields handles
          - navLabel: textfield (string)
          - navEntry: entries field. WARNING: all relational fields in Craft (entries, assets, urers) always return an array of objects (even if there is only one element in there). We have to use .all or .one() to get it..
      #}
      {% set navEntries = craft.entries()
        .section("mainnav")
        .all()
      %}

      {% for item in navEntries %}
        {% if loop.first %}<ul class="c-mobilenav">{% endif %}
        
          {# create a linkedEntry variable > we get the first (and only) entry in our entries field `navEntry`  #}
          {% set linkedEntry = item.navEntry.one() %}

          {# 
            Page en cours
            On peut comparer
            - l'ID de l'entry liée dans navEntry
            - l'ID de la variable "entry" que Craft nous donne quand l'URL correspond à celle d'une entry (ici les pages: homePage / aboutPage / projectsPage)
          #}
          {% set currentClass = (linkedEntry.id == entry.id) ? "is-current" : "" %}
          {% set ariaCurrent = (linkedEntry.id == entry.id) ? 'aria-current="page"' : "" %}
        
          <li class="c-mobilenav__item">
            <a class="c-mobilenav__link  {{ currentClass }}" href="{{ linkedEntry.url }}" {{ ariaCurrent|raw }}>
              {{ item.navLabel }}
            </a>
          </li>

        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
      
    </nav>

  </div>
</div>